;
[Initial Conditions]
XMIN = -30.
XMAX = 70.
DELTA_X = 1.
INITIAL_SURFACE_TYPE = 'V-Shape'
FUN_XMIN = -5.
FUN_XMAX =  45.
FUN_PEAK_TO_PEAK = 100

[Implant]
RP = 28
DRP = 11
DRLAT = 8
BULK_DX = 3
BULK_DY = 3

[Beam]
TOTAL_TIME = 10

[Output]
PLOT_SURFACE = False

